<!-- templates/charts.html -->
{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="page-header">
  <h1>
    <span class="label label-primary">Hello</span>
    <span class="label label-success">{{ user.username }}!</span>
  </h1>
  <h2>
    <p >Here are today's results from our VM scans</p>
  </h2>
</div>
<a class="btn btn-primary" href="{% url 'logout' %}" role="button">Log Out</a>
<a class="btn btn-primary" href="{% url 'password_reset' %}" role="button">Reset Password</a>
<div id="container"></div>
<div id="container2"></div>
<div id="container3"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
  Highcharts.chart('container', {{ chart_risk | safe }});
  Highcharts.chart('container2', {{ chart_origin | safe }});
  Highcharts.chart('container3', {{ chart_secure | safe }});
</script>
{% else %}
<div class="page-header">
  <h1>Home</h1>
</div>
  <p>Please login to your account or sign up, if you're a new user.</p>
  <a class="btn btn-primary" href="{% url 'login' %}" role="button">Log in</a>
{% endif %}
{% endblock %}